.container {
    max-width: 550px;
    margin: 20px auto;
    padding: 20px auto;
    background: white;
    box-shadow: 0 0 20px black;
    border-radius: 20px;
}

.container__header {
    color: #228D57;
    ;
    font-size: 35px;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px;
}