html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(245, 245, 245);
    resize: both;
    overflow: auto;
    background-image: url("../Images/currency.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.footer {
    color: rgb(228, 224, 224);
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}